extends layout

block content
  h1= recipe.name
  h2 Ingredients: 
  ul 
    each item in recipe.ingredients
      li= item

  h2 Instructions:
  ol
    each item in recipe.instructions
      li= item
    